<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  By <a href="mailto:aditya30394@tamu.edu">Team CodeGreen</a>:
  <div style="padding:10px">
  Aditya Kumar<br/>
  Vihang<br/>
  Akhila<br/>
  Yashwant<br/>
  Mayukh<br/>
  Sarwesh<br/>
  </div>
</p>