<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Us:
  <a href="mailto:aditya30394@tamu.edu">Team CodeGreen</a><br />
  Bug Report:
  <a href="mailto:aditya30394@tamu.edu">aditya30394@tamu.edu</a>
</p>